
<!-- This is the footer syntax -->
<link rel="stylesheet" href="/css/footer.css">
<div class="footer">
    <div class="card-header">
      <p> 2024 &#169; All rights reserved | Shaik Shabana</p>
    </div>
  </div>